
# Tu token de verificación del webhook (el que elegiste en el panel y en tu código)
WHATSAPP_VERIFY_TOKEN=mi_verify_2025
VERIFY_SIGNATURE=0

# Access token de Meta (cópialo de WhatsApp → API Setup; empieza con EAAG…)
WHATSAPP_TOKEN=EAARMcZCWDT4kBPXY9UsLLXsH1A86A3M4eEyPnPywNQkETjHU50dnHtqYPZClXatcOpfczvGVGE8tVZCqSecCPd8XXH4I9pJ1RvqXxf9eMVXSQsnKCT5jcWoEEAXSaJLrZBQhUZAfcpWokhJd27z3wTc7EYO4HOHF7gfHZBSzz6NWRVzLHp8ZC5ZAqZCkNZCcecI0mPSlZAeiCCZA4OGvYpZC2ZCzjufeN7L0e7nMcz68298NKNsgIvosPi7LAn9B4ZD
GRAPH_VER=v20.0


# Phone Number ID (numérico, en WhatsApp → API Setup)
PHONE_NUMBER_ID=757333040793710

APP_SECRET=520fae70ea48998878b53224b6a441df

# (Opcional) Para logs o referencia mientras pruebas con ngrok
PUBLIC_BASE_URL=https://c20abe1b8806.ngrok-free.app
DB_PATH=agent_api.db

OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini 
# Opcional
TELEGRAM_BOT_TOKEN=8315716668:AAG8KzWOS5T5ADORFYnJogDSc1ied7noFdY
TELEGRAM_CHAT_ID=
PORT=3000
